.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background: #f7f6f6a8;  
    font-family: 'Arial', sans-serif; 
  }
  
  /* Estilos del botón */
  .button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #512da8;  
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;  
  }
  
  .button:hover {
    background-color: #673ab7;  
    transform: scale(1.05);  
  }